<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.brynnerflores.kytcla">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo_kytcla"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_kytcla"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".view.acceso.iniciar_sesion.ActivityRecuperarCuenta"
            android:exported="false"
            android:theme="@style/Theme.Kytcla.Splash"/>
        <activity
            android:name=".view.ActivityModificarPerfil"
            android:exported="false"
            android:theme="@style/Theme.Kytcla" />
        <activity
            android:name=".ActivityWebView"
            android:exported="false"
            android:theme="@style/Theme.Kytcla" />
        <activity
            android:name=".view.acceso.registrarse.ActivityRegistrarse"
            android:exported="false"
            android:theme="@style/Theme.Kytcla.Splash" />
        <activity
            android:name=".view.acceso.iniciar_sesion.ActivityIniciarSesion"
            android:exported="false"
            android:theme="@style/Theme.Kytcla.Splash" />
        <activity
            android:name=".view.acceso.ActivityAcceso"
            android:exported="false"
            android:theme="@style/Theme.Kytcla.Splash" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Kytcla.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.tienda.productos.ActivityModificarProducto"
            android:exported="false"
            android:theme="@style/Theme.Kytcla" />
        <activity
            android:name=".view.tienda.productos.ActivityNuevoProducto"
            android:exported="false"
            android:theme="@style/Theme.Kytcla" />
        <activity
            android:name=".view.curso.ActivityModificarCurso"
            android:exported="false"
            android:theme="@style/Theme.Kytcla" />
        <activity
            android:name=".view.curso.ActivityNuevoCurso"
            android:exported="false"
            android:theme="@style/Theme.Kytcla" />
        <activity
            android:name=".view.tienda.productos.ActivityProducto"
            android:exported="false"
            android:theme="@style/Theme.Kytcla" />
        <activity
            android:name=".view.curso.ActivityCurso"
            android:exported="false"
            android:theme="@style/Theme.Kytcla.Secondary" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:theme="@style/Theme.Kytcla" />
    </application>

</manifest>